.frame{
	width: 60vw;
	height: 90vh;
	margin: auto;
	margin-top: 5vh;
	display: flex;
	background-color: white;
}

.form-container{
	width: 100%;
	height: 100%;
}

.form-text{
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 15px;
}
.form-text-title{
	font-size: 60px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-top: 0px;
}

span{
	color: #86469c;
	font-weight: bold;
}

.input-background{
	width: 40vw;
	height: 5%;
	margin-left: 15px;
	border-bottom: 2px solid #7E55F3;
	background-color: white;
	display: flex;
	transition: border-bottom 1s;
}
.input-background-active{
	width: 40vw;
	height: 5%;
	margin-left: 15px;
	border-bottom: 10px solid #7E55F3;
	background-color: white;
	display: flex;
	transition: border-bottom 1s;
}
.input-background-error{
	width: 40vw;
	height: 5%;
	margin-left: 15px;
	border-bottom: 2px solid #EA68B0;
	background-color: white;
	display: flex;
	transition: border-bottom 1s;
}
.input-background-active-error{
	width: 40vw;
	height: 5%;
	margin-left: 15px;
	border-bottom: 2px solid #EA68B0;
	background-color: white;
	display: flex;
	transition: border-bottom 1s;
}
.input-background:hover{
	border-bottom: 10px solid #7E55F3;
}
.input-background-error:hover{
	border-bottom: 10px solid #EA68B0;
}

.input{
	width: 100%;
	border: 0px solid transparent;
	font-size: 25px;
}
.input:focus{
	outline: none;
}

.icon{
	width: 40px;
	height: 100%;
	font-size: 30px;
	margin-top: 0px;
}

.button{
	width: 100px;
	height: 50px;
	background-color: #7E55F3;
	border-radius: 10px;
	border: 0px;
	transition: all 1s;
}
.button:hover{
	transform: translate(0px, -5px);
	scale: 1.05;
	cursor: pointer;
}

.formik-button{
	width: fit-content;
	height: fit-content;
	margin-left: 70%;
	margin-top: 50%;
}

.text-container{
	width: 100%;
	height: 20%;
	margin-top: 0px;
	padding-top: 50px;
}
.error{
	margin-left: 15px;
}